html, body {
    min-height: 100vh;
    font-family: "Catamaran", sans-serif;
}
body {
    background: #A02334;
    color: #f0dd71;
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
  }
  
  .terminal {
    background-color: #1e272e;
    padding: 20px;
    font-family: "Catamaran", sans-serif;
    border-radius: 8px;
    box-shadow: 0 0 10px #bdf399;
  }
  
  input:focus, button:focus {
    outline: none;
    border-color: #ff3860;
    box-shadow: 0 0 0 0.125em rgba(255, 56, 96, 0.25);
  }
  .input {
    font-family: "Catamaran", sans-serif;
  }
  .button {
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
  }
  #generatedImage {
    font-family: "Catamaran", sans-serif;;
    border: 2px solid #ff3860;
    border-radius: 8px;
  }
  p {
    font-family: "Catamaran", sans-serif;
  }